<div class="modal fade" id="categoryModal" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content Start Here-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Category List</h4>
        </div>
        <div class="modal-body">
          <div style="max-height: 500px;overflow: auto;">
             <div class="col-sm-12">
                <div>
                    <script type="text/ng-template" id="categoryTree">
                        {{ category.title }}
                        <ul ng-if="category.categories">
                            <a href="javascript:void(0)" class="Catlink" >
                              <li ng-repeat="category in category.categories" ng-include="'categoryTree'"  ng-click="selectParentId(category.id)" >     
                            </li></a>
                        </ul>
                    </script>
                    <ul>
                        <a href="javascript:void(0)" style="text-decoration: none" >
                        <li ng-repeat="category in categories" ng-include="'categoryTree'"></li></a>
                    </ul>    
                </div>
                </div>
            
          </div>
        </div>
       
      </div>
<!-- Modal content Start Here-->
 </div>
</div>